/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1;
	padding: 0;
	margin: 0;
	background: #1a1a1a;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* /CSS reset */
/* Mobile break point */
@media screen and (max-width: 1440px) {
	.hero_wrapper {
		width: 87.5% !important;
	}
	.work_wrapper {
		width: 900px !important;
	}
}
@media screen and (max-width: 1040px) {
	h2.project_title {
		margin: 40px auto 40px auto;
		font-size: 28px;
	}
	.work_wrapper {
		width: 692px !important;
	}
	h3.heading {
	  font-size: 20px;
	}
	p.text {
		width: 90%;
		font-size: 15px;
		margin-bottom: 32px;
		max-width: none;
	}
}
@media screen and (max-width: 800px) {
	navigation .nav_wrapper ul li a {
		font-size: 15px;
		margin-left: 40px;
	}
	.work_wrapper {
		width: 87.5% !important;
	}
	.marker {
		margin: 40px 0 12px 0 !important;
	}
	h2.project_title {
		font-size: 24px;
	}
	h3.heading {
		text-align: left;
	}
	p.text {
		width: 100%;
		text-align: left;
	}
}
@media screen and (max-width: 450px) {
	navigation .nav_wrapper .logo a .me {
		visibility: hidden;
		display: none;
	}
}
/* /Mobile break point */
/* Motion */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* /Motion */
/* Navigation */
navigation {
  width: 100%;
  height: 68px;
  background: #fff;
  opacity: 1;
  z-index: 999;
  display: block;
	-webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}
.nav_wrapper {
  max-width: 980px;
  width: 90%;
	height: 100%;
  margin: 0 auto 0 auto;
}
ul li a {
  float: right;
  color: #000;
  margin-left: 48px;
  line-height: 68px;
  font-size: 15px;
  font-weight: 400;
}
.logo a {
  float: left;
  color: #000;
  line-height: 68px;
  font-size: 16px;
  font-weight: 600;
}
.logo a .me {
  line-height: 68px;
	float: right;
	color: #000;
	font-size: 16px;
	font-weight: 300;
}
ul li a:hover {
  text-decoration: line-through;
	opacity: 0.65;
}
/* /Navigation */
/* Hero */
.hero_wrapper {
	width: 100%;
  margin: 60px auto 0 auto;
}
.hero_img {
  max-width: 1200px;
	margin: 0 auto 0 auto;
}
.project_title {
	margin: 60px auto 60px auto;
  font-size: 34px;
  text-align: center;
	line-height: normal;
  font-weight: 600;
  color: #fff;
}
/* /Hero */
/* Text */
.work_container {
	width: 100%;
	margin: 0 auto 0 auto;
}
.work_wrapper {
  max-width: 980px;
	width: 100%;
	display: block;
	position: relative;
  margin: 0 auto 0 auto;
}
.divider {
	max-width: 980px;
	width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 0 auto 60px auto;
  opacity: 0.12;
}
.marker {
	width: 24px;
	margin: 24px auto 0 auto;
	height: 2px;
	background-color: #3be8b0;
	opacity: 1;
	display: block;
	position: relative;
	margin-bottom: 12px;
	border-radius: 1px;
	-webkit-box-shadow: 0 3px 10px 1px rgba(59, 232, 176, 0.5);
	-moz-box-shadow: 0 3px 10px 1px rgba(59, 232, 176, 0.5);
	box-shadow: 0 3px 10px 1px rgba(59, 232, 176, 0.5);
}
.heading {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
	line-height: normal;
  color: #fff;
}
.text {
	max-width: 680px;
	width: 100%;
	margin: 0 auto 48px auto;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 12px;
  line-height: 24px;
  color: #fff;
	opacity: 0.95;
}
/* /Text */
/* Footer */
.footer_container {
	max-width: 980px;
  margin: 4% auto 32px auto;
  text-align: center;
  font-size: 0.7em;
  font-weight: 400;
  color: #000;
  opacity: 0.5;
}
/* /Footer */
