body {
	background: #1a1a1a !important;
}
/* Hero */
.hero_img {
  max-width: 980px !important;
	margin: 0 auto 0 auto;
}
/* /Hero */
/* Text */
.text a {
	color: #2dde98;
}
.text a:hover {
	opacity: 0.6;
}
/* /Text */
/* Work */
.img {
	max-width: 980px;
	margin: 0 auto 0 auto;
	padding-bottom: 5%;
}
.vid {
	max-width: 980px;
	margin: 0 auto 0 auto;
	padding-bottom: 5%;
}
/* /Work */
/* Footer */
.footer_container {
  color: #fff !important;
}
/* /Footer */
