/* Mobile break point */
@media screen and (max-width: 1440px) {
	.img_1, .vid_1 {
		padding-bottom: 3% !important;
	}
	.hero_img {
	  max-width: 980px !important;
	}
}
@media screen and (max-width: 1040px) {
	.img_1, .vid_1 {
		padding-bottom: 20px !important;
	}
}
@media screen and (max-width: 800px) {
}
/* /Mobile break point */
/* Hero */
/* /Hero */
/* Text */
.text a {
	color: #3be8b0;
}
.text a:hover {
	opacity: 0.8;
	text-decoration: underline;
}
/* /Text */
/* Work */
.img_1 {
	padding-bottom: 5%;
}
.vid_1 {
	padding-bottom: 5%;
}
/* /Work */
/* Footer */
.footer_container {
  color: #fff !important;
}
/* /Footer */
