/* Mobile break point */
@media screen and (max-width: 1440px) {
	.hero_img {
		max-width: 1100px !important;
	}
	.img_1, .img_2, .img_3, .img_4, .vid_1, .vid_2 {
		padding-bottom: 3% !important;
	}
}
@media screen and (max-width: 1040px) {
	.img_1, .img_2, .img_3, .img_4, .vid_1, .vid_2 {
		padding-bottom: 20px !important;
	}
}
@media screen and (max-width: 800px) {
	p.text_quotes, p.quote_reference {
		width: 100%;
		text-align: left;
		max-width: none;
	}
}
/* /Mobile break point */
/* Text */
.text_quotes {
	max-width: 680px;
	margin: 0 auto 0 auto;
	font-style: italic;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding-top: 16px;
  line-height: 24px;
  color: #fff;
}
.quote_reference {
	max-width: 680px;
	margin: 0 auto 0 auto;
  padding-bottom: 48px;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  padding-top: 8px;
  line-height: 24px;
  color: #5fc9f8;
}
/* /Text */
/* Work */
.img_1 {
	padding-bottom: 5%;
}
.img_2 {
	max-width: 800px;
	margin: 0 auto 0 auto;
	padding-bottom: 5%;
}
.vid_1 {
	padding-bottom: 5%;
}
/* /Work */
/* Footer */
.footer_container {
  color: #fff !important;
}
/* /Footer */
