body {
	background: #1a1a1a !important;
}
/* Mobile break point */
@media screen and (max-width: 800px) {
	.text_quotes {
		min-width: 90%;
	}
	.quote_reference {
		min-width: 90%;
	}
}
/* /Mobile break point */
/* Hero */
.hero_img {
  max-width: 980px;
	margin: 0 auto 0 auto;
}
/* /Hero */
/* Text */
.text_quotes {
	max-width: 680px;
	margin: 0 auto 0 auto;
  margin-bottom: 8px;
  font-family: 'Montserrat', sans-serif;
	font-style: italic;
  font-size: 1.05em;
  font-weight: 400;
  text-align: center;
  padding-top: 8px;
  line-height: normal;
  color: #f5f5f5;
}
.quote_reference {
	max-width: 680px;
	margin: 0 auto 0 auto;
  margin-bottom: 48px;
  font-family: 'Montserrat', sans-serif;
	font-style: normal;
  font-size: 1.05em;
  font-weight: 400;
  text-align: center;
  padding-top: 8px;
  line-height: normal;
  color: #3be8b0;
}
/* /Text */
/* Work */
.hero_img {
  max-width: 1100px !important;
	margin: 0 auto 0 auto;
}
.img {
	max-width: 980px;
	margin: 0 auto 0 auto;
	padding-bottom: 5%;
}
.img_dial {
	max-width: 800px;
	margin: 0 auto 0 auto;
	padding-bottom: 5%;
}
.img_2 {
	max-width: 980px;
	margin: 0 auto 0 auto;
	padding-bottom: 5%;
}
.vid {
	max-width: 980px;
	margin: 0 auto 0 auto;
	padding-bottom: 5%;
}
.img_redlines {
	max-width: 980px;
	margin: 0 auto 0 auto;
	padding-bottom: 5%;
}
/* /Work */
/* Footer */
.footer_container {
  color: #fff !important;
}
/* /Footer */
