body {
	background: #1a1a1a !important;
}
/* Hero */
@media screen and (max-width: 1440px) {
.hero_img {
  max-width: 1100px !important;
	margin: 0 auto 0 auto;
}
}
/* /Hero */
.img_1 {
	max-width: 600px;
	margin: 0 auto 0 auto;
	padding-bottom: 5%;
}
.img_2 {
	max-width: 980px;
	padding-bottom: 5%;
}
.img_4 {
	max-width: 290px;
	margin: 0 auto 0 auto;
	padding-bottom: 5%;
}
.img_old {
	max-width: 800px;
	margin: 0 auto 0 auto;
	padding-bottom: 5%;
}
/* /Work */
/* Footer */
.footer_container {
  color: #fff !important;
}
/* /Footer */
