body {
	background: #1a1a1a !important;
}
/* Hero */
.hero_img {
  max-width: 550px !important;
}
.project_title {
	margin: 12px auto 80px auto !important;
}
/* /Hero */
/* Work */
.img_1 {
	max-width: 700px;
	margin: 0 auto 0 auto;
	padding-bottom: 5%;
}
.img_2 {
	max-width: 800px;
	margin: 0 auto 0 auto;
	padding-bottom: 5%;
}
.img_3 {
	max-width: 800px;
	margin: 0 auto 0 auto;
	padding-bottom: 5%;
}
.img_4 {
	max-width: 800px;
	margin: 0 auto 0 auto;
	padding-bottom: 5%;
}
/* /Work */
/* Footer */
.footer_container {
  color: #fff !important;
}
/* /Footer */
