body {
	background: #1a1a1a !important;
}
/* Images */
.img_1 {
	padding-bottom: 5%;
}
.img_2 {
	padding-bottom: 5%;
}
.vid {
	padding-bottom: 5%;
}
/* /Images */
/* Footer */
.footer_container {
  color: #fff !important;
}
/* /Footer */
